{% extends 'internconnect/main.html' %}
{% load static %}

{% block title %}Apply Page{% endblock title %}

{% block navbar %}
{% include 'students/studentnav.html' %}
{% endblock navbar %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/recdash.css' %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static 'css/apply.css' %}" media="screen">
<style>
    label {
        font-weight: bold;
        font-size: 120%;
    }
    
    body {
        background-color: white;
    }
</style>
{% endblock styles %}

{% block content %}
<br><br><br>
<div id="apply-form-container">
    <h1>Apply to the Internship</h1>
    <form action="#" id="apply-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
         
        <div>
            <label for="cv">My Profile Image:</label><br>
            {{form.profile_image}}
        </div>
        <div>
            <label for="cv">My CV:</label><br>
            {{form.cv}}
        </div>
        <br>
        <div>
            <label for="application_message">My Application Message:</label><br>
            {{form.application_message}}
        </div>
        <br>
        <div>
            <button type="submit">Submit Application</button>
        </div>
</div>
</form>
{% endblock content %}