{% extends 'internconnect/main.html' %}
{% load static %}

{% block title %}Student Dashboard{% endblock title %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/recdash.css' %}" media="screen">
<style>
    body {
        background: white;
    }

    .welcome-message {
        text-align: center;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}" media="screen">

{% endblock styles %}


{% block navbar %}
{% include 'students/studentnav.html' %}
{% endblock navbar %}


{% block content %}

{% include 'accounts/messages.html' %}
<!-- Main Content -->
<div class="main-content" style="margin-top: 24px;">
    <!-- Your main content goes here -->
    <br><br><br>
    <h1 class="welcome-message">Welcome {{user.username}} to Your Student Dashboard</h1>
    <!-- Add searchbar here -->
    <div class="search-container">
        <input type="text" id="search-input" class="search-bar" placeholder="Search internships...">
        <button id="search-button" class="btn-outline-secondary">Search</button>
    </div>
    <div id="internship-list" class="job-container">
        {% for internship in internships %}
        <div class="job-card" onclick="openDetailsPage('{{ internship.id }}')">
            <h2 class="job-title">{{ internship.title }}</h2>
            <p class="job-company">{{ internship.company }}</p>
            <p class="job-description">{{ internship.description }}</p>
            <div class="job-apply"></div>
        </div>
        {% empty %}
        <p>No internships found.</p>
        {% endfor %}
    </div>
    <!-- Add more content as needed -->
</div>
{% block scripts %}
<script>
    function openDetailsPage(internshipId) {
        window.location.href = `/details/${internshipId}`;
    }
</script>
 <script src="{% static 'js/script.js' %}"></script>
{% endblock scripts %}
{% endblock content %}


{% block footer %}
<!-- Remove the container if you want to extend the Footer to full width. -->
{% include 'recruiters/footer.html' %}
{% endblock footer %}