{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static 'images/logo2.png' %}" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/students/student_dash/">Home</a> <!--current page on -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Applications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Notifications</a>
            </li>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.username}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </ul>
    </div>
</nav>