/* Basic styling for the internship list */
    *{
  font-family: sans-serif;
}

.job-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.job-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 2rem;
  padding: 1rem;
  margin-right: 10rem;
  margin-left: 10rem;
  cursor: pointer; /* Added cursor pointer for interactivity */
  transition: background-color 0.3s; /* Added transition for smooth color change */
}

.job-card:hover {
  background-color: #e0e0e0; /* Color change on hover */
}

.job-card:active {
  background-color: #d0d0d0; /* Color change when clicked */
}

.job-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.job-company {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 0.6rem;
}

.job-description {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

.job-apply {
  display: flex;
  justify-content: flex-end;
}

.job-apply button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.job-apply button:hover {
  background-color: #0056b3;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  
}
.search-bar-container {
  display: inline-block;
  position: relative;
  color: black;
}

.search-bar {
  flex-grow: 1;
  padding: 1.0rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}
