 /* Custom CSS for aligning navbar */
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Custom CSS for aligning the logo */
.navbar-brand {
    margin-right: auto; /* Aligns the logo to the left */
}

/* Custom CSS for aligning the navbar items to the right */
.navbar-nav {
    margin-left: auto; /* Aligns navbar items to the right */
}