{% extends 'internconnect/main.html' %}
{% load static %}

{% block navbar %}
{% include 'students/studentnav.html' %}
{% endblock navbar %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/recdash.css' %}" media="screen">
<style>
    body {
        background: white;
    }
    .edit-container {
        font-size: 20px;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 10px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
   .form_group label {

        display: block;
    }
</style>
{% endblock styles %}


{% block content %}
<div class="edit-container">
    <br>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Profile Information:</h2>
        <div class="form_group">
            <label for="username">Username:</label>
            {{ user_form.username }}
        </div>
        <div class="form_group">
            <label for="email">Email:</label>
            {{ user_form.email }}
        </div>
        <div class="form_group">
            <label for="image">Profile Image:</label>
            {{ profile_form.image }}
        </div>
        {% if user.role == 'student' %}
        <div class="form_group">
            <label for="skills">Skills</label>
            {{profile_form.skills}}
        </div>
        <div class="form_group">
            <label for="cv">CV:</label>
            {{ profile_form.cv }}
        </div>
        {% else %}
        <div class="form_group">
            <label for="subscription_plan">Subscription Plan</label>
            {{profile_form.subscription_plan}}
        </div>
        <div class="form_group">
            <label for="company_name">Company:</label>
            {{profile_form.company_name}}
        </div>
        {% endif %}
        <br><br>
        <button type="submit" style="background-color: #787c7e;">Update Profile</button>
    </form>
</div>
{% endblock %}