{% extends 'internconnect/main.html' %}
{% load static %}
{% block title %}Subscription Plans{% endblock title %}

{% block styles %}
{{block.super}}
<style>
    body {
        background: white;
    }
</style>
{% endblock styles %}

{% block navbar %}

{% endblock navbar %}


{% block content %}
<h2>Choose a Subscription Plan</h2>
<ul>
{% for plan in plans %}
    <li>
        <strong>{{ plan.name }}</strong>: ${{ plan.price }} for {{ plan.duration }} days
        <a href="{% url 'choose_subscription' plan.id %}">Select</a>
    </li>
{% endfor %}
</ul>
{% endblock content %}

{% block footer %}
{% endblock footer %}