{% extends 'internconnect/main.html' %}
{% load static %}

{% block title %}Payment Confirmation{% endblock title %}


{% block content%}

<div style="display: flex; flex-direction: column;">
    <p>Have you paid?</p>
    <div style="display: flex; flex-direction: row;">
        <a href="{% url 'MpesaPaymentConfirmation' mpesa_payment_id %}" class="button" style="padding: 10px; background-color: rgb(28, 70, 28); border-radius: 9px; color: white; text-align: center; text-decoration: none; margin-right: 10px;">Yes</a>
        <button onclick="window.history.back()" class="button" style="padding: 10px; background-color: rgb(148, 15, 26); border-radius: 9px; color: white; text-align: center; text-decoration: none;">No</button>
    </div>
</div>

{% endblock content%}

<!-- <button onclick="redirectToConfirmationPage('yes')" class="btn btn-success">Yes</button>