{% extends 'internconnect/main.html' %}

{% block content %}
<h2 class="welcome message">Welcome to Interconnect</h2>
<header>
    <h2>Ignite Your Future, Unleash Untapped Potential!</h2>
    <p>Connecting ambitious students with inspiring organizations. Unearthing raw talent, igniting career dreams.</p>
  </header>

  <section class="students">
    <h3>Are you a student seeking?</h3>
    <ul>
      <li>Meaningful internships that spark your passion?</li>
      <li>Real-world experience to boost your resume?</li>
      <li>Connections with top organizations leading to dream jobs?</li>
    </ul>
    <p>Internconnect is your launchpad!</p>
    <a href="{% url 'listings' %}" class="button">Explore Internships</a>
  </section>

  <section class="recruiters">
    <h3>Recruiters, tap into a vibrant talent pool:</h3>
    <ul>
      <li>Access a diverse range of highly motivated university students.</li>
      <li>Filter candidates based on skills, experience, and academic background.</li>
      <li>Discover hidden gems with raw potential and a hunger to learn.</li>
      <li>Build your talent pipeline for the future.</li>
    </ul>
    <a href="#" class="button">Post an Internship</a>
  </section>

  <section class="call-to-action">
    <h2>Join the Internconnect community:</h2>
    <p>Empower your career journey with personalized guidance. Network with fellow students and industry professionals. Unlock your potential and achieve your career aspirations.</p>
    <a href="#" class="button">Sign Up Now</a>
  </section>

{% endblock content %}
