{% extends 'internconnect/main.html' %}
{% load static %}

{% block title %}Job Search Example{% endblock title %}


{% block styles %}
{{block.super}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}" media="screen">
{% endblock styles %}


{% block content %}
<div class="search-container">
  <input type="text" id="search-input" class="search-bar" placeholder="Search internships...">
  <button id="search-button" class="btn-outline-secondary">Search</button>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const searchButtonElement = document.getElementById('search-button');
    const searchInputElement = document.getElementById('search-input');
    const noInternshipsElement = document.getElementById('no-internships');

    searchButtonElement.addEventListener('click', () => {
      const searchTerm = searchInputElement.value.toLowerCase();
      const internshipElements = document.getElementsByClassName('job-card');
      let foundInternship = false; // Flag to track if any internship is found

      for (let i = 0; i < internshipElements.length; i++) {
        const internshipElement = internshipElements[i];
        const titleElement = internshipElement.querySelector('.job-title');   // searches only by job title
        const titleText = titleElement.textContent.toLowerCase();

        const descriptionElement = internshipElement.querySelector('.job-description');
        const descriptionText = descriptionElement.textContent.toLowerCase();

        const companyElement = internshipElement.querySelector('.job-company');
        const companyText = companyElement.textContent.toLowerCase();

        if (titleText.includes(searchTerm) || descriptionText.includes(searchTerm) || companyText.includes(searchTerm)) {
          internshipElement.style.display = 'block';
          foundInternship = true; // Set flag to true if internship is found
        } else {
          internshipElement.style.display = 'none';
        }
      }

      // Show or hide the "No internships found" message based on search result
      if (foundInternship) {
        noInternshipsElement.style.display = 'none'; // Hide the message
      } else {
        noInternshipsElement.style.display = 'block'; // Show the message
      }
    });

    // Add event listener to search input
    searchInputElement.addEventListener('input', () => {
      searchButtonElement.click();
    });
  });

</script>
<div id="internship-list" class="job-container">
  {% for internship in internships %}
  <a href="{% url 'details' internship.id %}"style="color:black; text-decoration: none;">
  <div class="job-card" onclick="openDetailsPage('{{ internship.id }}')">
    <h2 class="job-title">{{ internship.title }}</h2>
    <p class="job-company">{{ internship.company }}</p>
    <p class="job-description">{{ internship.description }}</p>
    <div class="job-expiry"><span style="color: rgb(228, 36, 62);">Expiry date:</span>{{ internship.expiry_date }}</div>
    <div class="job-apply"></div>
  </div>
  </a>
  {% endfor %}
</div>

{% include 'internconnect/pagination.html' %}

<script>
  function openDetailsPage(internshipId) {
    window.location.href = `/details/${internshipId}`;
  }
</script>
{% endblock content %}
