{% extends 'internconnect/main.html' %}
{% load static %}

{% block title %}Posted Internship{% endblock title %}

{% block navbar %}
{% include 'recruiters/recruiternav.html' %}
{% endblock navbar %}

{% block content %}
<h2 class="container">Posted</h2>
<br>
<!-- <table class="container p-3" style="border: 1px solid black;"> -->
<table class="table container">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Company</th>
            <!-- <th>Description</th> -->
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <!-- <th>Location</th> -->
            <!-- <th>Requirements</th>
                <th>Recruiter</th> -->
        </tr>
    </thead>
    <tbody>
        {% for internship in internships %}
        <tr>
            <td>{{ internship.title }}</td>
            <td>{{ internship.company }}</td>
            <!-- <td>{{ internship.description }}</td> -->
            <td>{{ internship.start_date }}</td>
            <td>{{ internship.end_date }}</td>
            <!-- <td>{{ internship.skills }}</td> -->
            <!-- <td>{{ internship.requirements }}</td> -->
            <!-- <td>{{ internship.recruiter.username }}</td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}